@font-face {
  font-family: "Bagel Fat One";
  src: url("BagelFatOne-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Black And White Picture";
  src: url("BlackAndWhitePicture-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Black Han Sans";
  src: url("BlackHanSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "D2 Coding";
  src: url("D2Coding-Ver1.3.2-20180524.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Diphylleia";
  src: url("Diphylleia-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Elice Digital Baeum";
  src: url("EliceDigitalBaeum_Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gamja Flower";
  src: url("GamjaFlower-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gasoek One";
  src: url("GasoekOne-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Grandiflora One";
  src: url("GrandifloraOne-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gugi";
  src: url("Gugi-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hahmelt";
  src: url("Hahmlet-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MoiraiOne";
  src: url("MoiraiOne-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NanumGothic";
  src: url("NanumGothic-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nanum Myeongjo";
  src: url("NanumMyeongjo-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nanum Pen Script";
  src: url("NanumPenScript-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans";
  src: url("NotoSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans KR";
  src: url("NotoSansKR-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans Math";
  src: url("NotoSansMath-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Noto Serif KR";
  src: url("NotoSerifKR-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Orbit";
  src: url("Orbit-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PixelifySans";
  src: url("PixelifySans-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Single Day";
  src: url("SingleDay-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Song Myung";
  src: url("SongMyung-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Young Serif";
  src: url("YoungSerif-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
