.resetBtn {
  position: absolute;
  right: 10px;
  top: 5px;
}
.resetBtn:hover .icon {
  transform: rotate(360deg);
  fill: var(--point);
}
.resetBtn .icon {
  width: 18px;
  height: 18px;
  transition: all 0.5s ease-in-out;
}
