.company {
  height: 80px;
  line-height: 70px;
  display: flex;
  justify-content: center;
  font-weight: 900;
  color: var(--white);
  font-size: 22px;
  margin: 0;
  letter-spacing: -1.5px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.nav {
  width: 75px;
  top: 0;
  left: 0;
  /* bottom: 0; */
  position: fixed;
  height: calc(var(--vh, 1vh) * 100);
  letter-spacing: -0.01rem;
  z-index: 10;
  background-color: var(--point);
}
.nav .icon {
  width: 18px;
  height: 18px;
  fill: var(--back);
}
.logo {
  color: var(--point);
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  margin: 15px 0;
}
.nav h2 {
  font-size: 13px;
  margin: 0;
  padding-top: 1px;
  color: var(--lesswhite);
  word-break: keep-all;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

.navCategory {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 10px 0;
  height: calc(var(--vh, 1vh) * 100 - 80px);
  overflow-y: scroll;
  margin: 0;
}
.navCategory > li {
  position: relative;
  padding: 13px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.navCategory > li > .icon {
  padding-bottom: 2px;
  width: 25px;
  height: 25px;
}

.loginIcon {
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  fill: white;
}
.navCategory > li > h2 {
  font-size: 10px;
  text-align: center;
  letter-spacing: -0.4px;
}
.navCategory > li::after {
  content: "";
  width: 5px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transition: all ease 0.3s;
}

.iconActive {
  width: 30px;
  height: 30px;
  fill: white;
  z-index: 3;
}
.navCategory > li.active h2 {
  color: white;
  font-size: 11px;
  font-weight: 800;
  z-index: 3;
}
.navCategory > li:hover {
  cursor: pointer;
  font-weight: 500;
}
.navBtn {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  padding: 0;
}
.navBtn:hover > span {
  background-color: transparent;
}
.navBtn:hover > span::before {
  transform: rotate(45deg) translateY(50%);
}
.navBtn:hover > span::after {
  transform: rotate(-45deg) translateY(-50%);
}
.navBtn > span {
  width: 30px;
  height: 3px;
  background-color: #333;
}
.navBtn > span::before,
.navBtn > span::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #333;
  position: absolute;
  left: 0px;
}
.navBtn > span::before {
  top: 0;
}
.navBtn > span::after {
  bottom: 0;
}

.blind {
  display: none;
}

.mobileNav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: 55px;
  background-color: var(--point);
  z-index: 100;
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
}
.mobileNav > h1 {
  color: var(--white);
  font-size: 22px;
  margin: 0;
  letter-spacing: -1.5px;
  cursor: pointer;
  font-weight: 800;
}
.mobileMenuBtn {
}
.mobileMenuBtn .icon {
  fill: white;
  width: 25px;
  height: 25px;
}
.mobileMenu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5000;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
}
.mobileMenu > ul {
  position: relative;
  background-color: white;
  width: 260px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px 18px 18px;
  overflow-y: scroll;
  /* transform: translateX(-200px); */
  transition: all ease-in-out 0.3s;
}

.mobileMenu > ul > li {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 65px;
  border-bottom: 1px solid #eee;
}
.mobileMenu > ul > li .icon {
  width: 22px;
  height: 22px;
  fill: #555;
}
.mobileMenu > ul > li .iconActive {
  fill: #333;
}
.mobileMenu > ul > li h2 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.4px;
  margin-top: 12px;
}
.mobileClose {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
}
.mobileClose .icon {
  fill: #333;
}

@media screen and (max-width: 900px) {
  .nav {
    display: none;
  }
  .mobileNav {
    display: flex;
  }
}

/* @media screen and (max-width: 700px) {
  .company {
    font-size: 20px;
    word-break: keep-all;
    min-width: max-content;
    padding: 0 5px;
    display: none;
  }

  .nav {
    top: calc(var(--vh, 1vh) * 100 - 60px);
    width: 100vw;
    height: 60px !important;
    overflow: hidden;
    justify-content: flex-start;
    border-radius: 2px 2px 0 0;
  }
  .container {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .container > div {
    width: calc(100vw - 80px);
  }
  .navCategory {
    flex-direction: row;
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .navCategory > li > h2 {
    font-size: 14px;
    font-weight: 600;
    max-width: 50px;
    text-align: center;
    letter-spacing: -0.4px;
    padding-bottom: 7px;
  }
  .navCategory > li.active h2 {
    font-size: 15px;
  }
  .navCategory > li:last-child {
    display: none;
  }
} */
